<a href="https://colab.research.google.com/github/iamkishan98/Deep-learning-assignments/blob/master/23rdJAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x =[1,24,546,5]
print(x)
y =x
print(y)
x.append(100)
print(x)
print(y)
y.append(90)
print(y)
z = list(y)
print(z)
x.remove(546)
print(x)
print(z)

z.insert(2,46)
print(z)
a = [2,3,'NIT',6]
c = ['STR','DL']
b = a+c
print(b)
f = list(range(5))
print(f)
print(type(f))

[1, 24, 546, 5]
[1, 24, 546, 5]
[1, 24, 546, 5, 100]
[1, 24, 546, 5, 100]
[1, 24, 546, 5, 100, 90]
[1, 24, 546, 5, 100, 90]
[1, 24, 5, 100, 90]
[1, 24, 546, 5, 100, 90]
[1, 24, 46, 546, 5, 100, 90]
[2, 3, 'NIT', 6, 'STR', 'DL']
[0, 1, 2, 3, 4]
<class 'list'>